body {
  font-family: verdana,tahoma,sans-serif;
}

.myinput {
  padding: 0.5em;
  width: 300;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .myinput{
    display: block;
    margin:  auto;
  }
}

th{
    font-weight: normal;
    font-size:23px;
}