body {
  font-family: verdana,tahoma,sans-serif;
}

.myinput {
  padding: 0.5em;
  width: 300;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .myinput{
    display: block;
    margin:  auto;
  }
}



* {
    box-sizing: border-box;
}

.zoom:hover {
  -ms-transform: scale(10); /* IE 9 */
  -webkit-transform: scale(10); /* Safari 3-8 */
  transform: scale(10);
  margin-left:-10px;
  margin-top:-100px;
}

th, td, tr {
  outline: 1px solid lightgray;
  background-color:rgb(255, 255, 255);
}

th {
  font-weight: normal;
  font-size: 2vw;
}

tr:nth-child(even) > td {background-color:rgb(226, 231, 255);}

.passive {
  background-color:rgb(179, 179, 179);
  font-size: 70%;
}

table {  
  outline: 2px solid white;
  outline-offset: -2px;
}

[contenteditable]:hover {
  background: #fafafa;
  outline: 2px solid #eee;
}

[contenteditable]:focus {
  background: #efefef;
  outline: 2px solid blue;
}


