body {
  font-family: verdana,tahoma,sans-serif;
}

.myinput {
  padding: 0.5em;
  width: 300;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .myinput{
    display: block;
    margin:  auto;
  }
}



* {
    box-sizing: border-box;
}

.zoom {
  padding: 1px;
  width: 10px;
  height: 10px;
  margin-left:1px;
  margin-top:1px;
}

.zoom:hover {
  -ms-transform: scale(30); /* IE 9 */
  -webkit-transform: scale(30); /* Safari 3-8 */
  transform: scale(30);
  margin-left:120px;
  margin-top:-100px;
}

th, td {
  outline: 1px solid lightgray;
}

th {
  font-weight: normal;
  font-size: 2vw;
}

table {  
  outline: 2px solid white;
  outline-offset: -2px;
}